{% extends 'templates/app.twig' %}

{% block content %}

    <div class="mt-3">
        <h1>Email Lists</h1></h1>
        <ul style="padding: 0;list-style: none;">
            <li><a href="{{ path_for('email.campaigns') }}">View Campaigns</a></li>
            <li><a href="{{ path_for('email.templates') }}">View templates</a></li>
            <li><a href="{{ path_for('email.new.list') }}">New List</a></li>
        </ul>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 5%">ID</th>
            <th style="width: 65%">List Name</th>
            <th style="width: 30%">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for key, value in lists.lists %}

            <tr>
                <td>{{ value.id }}</td>
                <td>{{ value.name }}</td>
                <td><a href="{{ path_for('email.list', {'id': value.id, 'name' : value.name }) }}">View Members</a>
                    &nbsp;&nbsp;<a href="" id="submit_members_{{ value.id }}">XAdd Members</a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="mt-12" style="text-align:right;">{{ users.links | raw }}</div>

{% endblock %}