{% extends 'templates/app.twig' %}

{% block content %}

    <div class="mt-3">

        <h1>Manage Users</h1></h1>

        <ul style="padding: 0;list-style: none;">

            <li><a href="{{ path_for('manageusers.new') }}">New User</a></li>

        </ul>

    </div>

    <div class="mt-3">
        <h3>Users</h3>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 5%">ID</th>
            <th style="width: 15%">Name</th>
            <th style="width: 20%">Position</th>
            <th style="width: 23%">Email</th>
            <th style="width: 8%">Phone</th>
            <th style="width: 8%">Mobile</th>
            <th style="width: 8%">Status</th>
            <th style="width: 12%">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for key, value in users %}

            <tr>
                <td>{{ value.id }}</td>
                <td>{{ value.firstname ~ " " ~ value.surname}}</td>
                <td>{{ value.position }}</td>
                <td>{{ value.email }}</td>
                <td>{{ value.phone }}</td>
                <td>{{ value.mobile }}</td>
                <td>{{ value.status_description }}</td>
                <td><a href="{{ path_for('manageusers.edit', {'id': value.id}) }}">Edit</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="mt-12" style="text-align:right;">{{ users.links | raw }}</div>

{% endblock %}